/*General Styles*/
.main-pokemon{
    text-align: center;
}
.main-pokemon img{
    width: 120px;
    height: 120px;
}
.stats {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.view-details-button{
background-color: #ffc107;
border: none;
border-radius: 5px;
color: rgba(22, 22, 22, 0.842);
padding: 10px;
cursor: pointer;
margin-top: 10px;
}
.your-pokemon{
    color: black;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pokemon-list {
    text-align: center;
    /*padding: 20px;  */
  }
  
  .pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .pokemon-card-main-pokemon {
    background: rgba(255, 204, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    color: black;
    text-align: center;
    margin: 8px;
  }

  .pokemon-card-main-pokemon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .pokemon-card-main-pokemon .stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .main-pokemon-button{
    background-color: rgba(11, 19, 68, 0.589);
    border: none;
    border-radius: 5px;
    color: #ffc107;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .pokemon-card {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 204, 0, 0.7);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 8px;
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  /*.pokemon-card .view-details {
    background: #ffcc00;
    color: white;
    border: none;   
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    width: 100%;
  }*/
  
  .pokemon-card .stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .wins{
    color: rgb(31, 230, 31);
  }

  .losses{
    color: rgb(247, 17, 17);
  }

/*.social-icons img{
    width: 24px;
    margin-left: 10px;
}*/
@media (max-width: 768px) {
    .trainer-section{
        flex-direction: column;
    }
    .pokemon-grid{
        justify-content: center; 
    }
}