<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/global.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style>
      .Image-Container {
        margin-top: 50px;
      }
      .Image-Container ul li img {
        filter: brightness(40%);
        transition: filter 0.3s ease-in-out;
      }

      .Image-Container ul li img:hover {
        filter: brightness(100%);
      }
    </style>
  </head>
  <body>
    <main>
      <div class="Image-Container">
        <ul>
          <li>
            <a href=""><img src="../Assets/Fifa Logo (1).png" alt="Fifa" /></a>
            <p>Fifa</p>
          </li>
          <li>
            <a href=""
              ><img src="../Assets/Fortnite logo (1).jpg" alt="Fortnite"
            /></a>
            <p>Fortnite</p>
          </li>
          <li>
            <a href=""
              ><img src="../Assets/logo lego (1).jpg" alt="LegoMasters"
            /></a>
            <p>LegoMasters</p>
          </li>
          <li>
            <a href=""><img src="../Assets/LOTR logo (1).png" alt="LOTR" /></a>
            <p>LOTR</p>
          </li>
          <li>
            <a href=""><img src="../Assets/MTG logo (1).jpg" alt="MTG" /></a>
            <p>MTG</p>
          </li>
          <li>
            <a href="aanmelden.ejs"
              ><img src="../Assets/pokemon logo (1).jpg" alt="Pokemon"
            /></a>
            <p>Pokemon</p>
          </li>
        </ul>
      </div>
    </main>
    <script src="../JS/aanmelden.js"></script>
  </body>
</html>
