* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/*Nav*/
nav {
  border-bottom: 2px solid black;
  background-color: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding-top: 25px;
}

nav a img {
  height: 120px;
  width: auto;
  transition: 0.3s ease;
}
nav a img:hover {
  scale: 1.11;
}

/*Main*/
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Forgot Password Form */
.forgot-password-container {
  background: white;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.forgot-password-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.forgot-password-container label {
  display: block;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}
.required {
  color: darkred;
}
.reset-button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.reset-button:hover {
  background-color: darkblue;
}

/*Back Home*/
.back-to-home {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: lightskyblue;
  font-size: 14px;
  margin-top: 30px;
}

.back-to-home:hover {
  text-decoration: underline;
  color: darkblue;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(/Project-Page/Assets/nav-bar\ background.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: auto;
}
