<div class="menu-overlay">
    <div class="menu-content">
      <div class="close-button">x</div>
      <div class="menu-header">Menu</div>
      <ul class="menu-items">
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="pokemon-search">Pokédex</a></li>
        <li class="menu-item"><a href="team">Team</a></li>
        <li class="menu-item"><a href="battler">Gevecht</a></li>
        <li class="menu-item"><a href="catch">Vang Pokémons</a></li>
        <li class="menu-item"><a href="compare">Vergelijk Pokémons</a></li>
        <li class="menu-item"><a href="pokemonevolution">Pokémon evoluties</a></li>
        <li class="menu-item"><a href="quize">Quiz</a></li>
      </ul>
    </div>
  </div>